*{
    
}
body{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.leftside{
   
    display: inline-block;
    img {
        max-width: 80%;
        height: auto;
        margin-left: 50px;
      }
      max-width: 50%;
}
#book{
    color: #f45314;
}
.rightside{
     margin-bottom: 25px;
     margin-left: 30px;
    display:inline-block;
    width: fit-content;
    text-align: center;
}
h1{
   text-align: center; 
   font-size: 50px;  
}
h2{
    text-align: center;
    width: 75%;
    margin-left: 50px;
}
h3{
    padding: 20px;
    font-size: 50px;
    width: fit-content;
    margin-left: 105px;
    
}
.user{
padding: 20px;
font-size: 35px;

}
.title{
    padding: 20px;
    font-size: 35px;
}
.content{
    padding: 20px;
    font-size: 35px;
}
#data{
    height:50px;
    width: 100%;
    font-size:30px;
}
#button{
    width: 20em;  
    height: 4em;
   
}

@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    /* Change the header color */
    header {
      background: #772014;
    }
  }
  
  /* Cards are stacked on top of each other at 768px or smaller */
  @media screen and (max-width: 768px) {
    body{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
 h3, .user, .title, .content {
    font-size: 25px;
    padding: 0%;
   
 }
 h1{
    font-size: 45px;
 }
 h2{
    margin-left: 0px;
    width: 100%;
    
 }
 h3{
    margin: 0%;
    width: fit-content;
    margin-left: 110px;
    font-size: 25px;
 }

    .rightside{
        width: fit-content;
        align-items: center;
        text-align: center;
        margin-left: 0px;
        margin-right: 10px;
    }
    #button{
        width: 6em;  
        height: 4em;
        margin: 0%;
    }
   
  }
  